<!DOCTYPE html>
<html>
<head>
  <title>Page</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="navbar">
  <div class="logo">Resume <span>Around</span></div>
  <nav>
    <a href="/">Home</a>
    <a href="/create-resume">Create Resume/CV</a>
    <a href="/create-biodata">Create Biodata</a>
    <a href="/courses">Free Computer Courses</a>
    <a href="/about">About Us</a>
  </nav>
</header>

<div class="page-center">
  <h1>Create Biodata Page</h1>
  <p>Coming soon...</p>
</div>

{% include "footer.html" %}

</body>
</html>
